.container {
	max-width: 850px;
	background: #eee;
}

#upper {
	padding: 80px 20px 0 20px;
}

#dp {
	float: left;
	height: 200px;
	border-radius: 10%;
	margin: 0 30px;
}

#projects {
	padding: 50px;
}

.img-thumb {
	width: 100%;
	height: 100%;
}

.col-sm-6 {
	background: #ddd;
	border: 1px solid white;
	padding: 0;
}